body {
    padding-top: 5rem;
    background-color: #223344;
}

p {
    color: #FF9F00;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

tr.colored td {
    background-color: rgba(214, 211, 230, 0.801);
}

th.colored {
    background-color: rgb(255, 255, 255);
}

tr.mouseon td {
    background-color: rgba(17, 157, 250, 0.425);
}